*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.row{
  width: 100%;

}

.rowhead-1{
    background-color: #F4F9FD;
    border-bottom: 1px solid black;
    height: 80px;
}

.rowhead1::after{
  content: '';
  clear: both;
  display: table;
}

.rowhead-2{
  background-color: #FFFF;
  height: 80px;
}

.col1{
  height: 100%;
  width: 40%;
  margin-left: 10%;
  float: left;
  position: relative;
}

.col2 {
  height: 100%;
  width: 40%;
  margin-right: 10%;
  float: left;
  position: relative;
}
.nav{
  height: 40px;
  width: 200px;
  background-color: blue;
}

.left{
  position: absolute;
  top: 20px;
}

.right {
  position:absolute;
  top: 20px;
  right: 0;
}

.logo{
  height: 40px;
  width: 100px;
  background-color: pink;
}

.menu{
  height: 40px;
  width: 400px;
  background-color: black;
}

.mainrow{
  height: 500px;
  background-color: #FFF2EF;
}

.title, .subtitle{
  height: 100px;
  width: 100%;
  margin-top: 50px;
  margin-bottom: 20px;
  background-color: navy;
}

.subtitle{
  margin-top: 0;
}

.trial{
  width: 200px;
  height: 50px;
  background-color: coral;
}

.subscript{
  height: 4px;
  width: 250px;
  background-color: navy;
  margin-top: 20px;
}

.separtion-row{
   height: 80px;
   background-color: #AFEBE4;
   border-top: 2px solid black;
   border-bottom: 2px solid
   black;
}

.content-container{
  background-color: #F4F9FD;
  height: 1200px;
  width: 100%;
}

.head-img{
  width: 150px;
  height: 150px;
  background-color: green;
  margin: 20px auto;
}

.description-text{
  width: 60%;
  text-align: center;
  margin: 0 auto;
}

.description-text p{
  margin-top: 15px;
}

.widget{
  width: 80%;
  height: 300px;
  background-color: #FFFF;
  margin: 30px auto;
}

.widget-col1{
  width: 30%;
  height: 100%;
  border-right: 1px solid black;
  float: left
}

.widget-col2{
  width: 70%;
  height: 100%;
  float: left
}


.vertical-wid{
  width: 20%;
  height: 500px;
  float: left;
  background-color: blue;
}

.vertical-block .lf{
  margin-left: 10%;
  margin-right: 5%;
}

.vertical-block .central{
  margin-left: 5%;
  margin-right: 5%;
}

.vertical-block .rt{
  margin-left: 5%;
  margin-right: 10%;
}

.refernce-row{
  height: 500px;
  background-color:#00b3af;
}

.description-reference{
  width: 80%;
  height: 150px;
  margin: 0 auto;
  background-color: white;

}

.reference{
  width: 80%;
  height: 200px;
  margin: 30px auto;
  background-color: white;
}

.sponsor-container{
  width: 100%;
  height: 500px;
  background-color: white;
}

.sponsor-container::after{
  content: '';
  display: table;
  clear: both;

}

.counter{
  width: 30%;
  height: 30%;
  border: 2px solid black;
  float: left;
  margin-top: 5%;
  margin-left: 10%
}

.sponsor{
  width: 50%;
  height: 30%;
  border: 2px solid black;
  float: left;
  margin-top: 5%;
  margin-right: 10%;
}

.start{
  width: 30%;
  height: 60%;
  border: 2px solid black;
  float: left;
  margin-bottom: 5%;
  margin-left: 10%;
}

.girl-pic{
  width: 50%;
  height: 60%;
  border: 2px solid black;
  float: left;
  margin-bottom: 5%;
  margin-right: 10%;
}

.footer-container{
  width: 100%;
  height: 500px;
  background-color: #32495c;
  padding-top: 50px;
  position: relative;
}

.footer-container::after{
  content: '';
  display: table;
  clear: left;
}

.menu-footer{
  width: 20%;
  height: 50%;
  background-color: navy;
  border: 2px solid white;
  float: left;
}

.mfl{
  margin-left: 10%
}

.mfr{
  margin-right: 10%;
}

.credits-copy{
  height: 40%;
  width: 80%;
  margin-top: 10%;
  margin-left: 10%;
  margin-right: 10%;
  background-color: yellow;
  position: absolute;
  bottom: 0;

}
