*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

.row{
  width: 100%;

}

.rowhead-1{
    background-color: #F4F9FD;
    border-bottom: 1px solid black;
    height: 80px;
}

.rowhead1::after{
  content: '';
  clear: both;
  display: table;
}

.rowhead-2{
  background-color: #FFFF;
  height: 80px;
}

.mainrow:after{
  content: '';
  display: table;
  clear: both;
}

.col1{
  height: 100%;
  width: 40%;
  margin-left: 10%;
  float: left;
  position: relative;
}

.col2 {
  height: 100%;
  width: 40%;
  margin-right: 10%;
  float: left;
  position: relative;
}

.nav-left{
  float: left;
  line-height: 80px;
}
 select{
  border: 0;
  background-color: inherit;
}

.text-header{
  font-size: 13px;
  margin: 0 10px;
}

.nav-right{
  float: right;
  line-height: 80px;
}

.fa-search {
  margin-left: 15px;
}

.login, .getforfree{
  padding: 5px;
  text-align: center;
  font-size: 13px;
  margin: 3px 3px;
  cursor: pointer;
  border-radius: 5px;
  border-color: 1px solid coral;
}

.login{
  background-color: inherit;
  color: coral;
}

.getforfree{
  background-color: coral;
  color: white;
}

.logo{
  height: 80px;
  width: 140px;
}

.logo img {
  width: 100%;
  height: 100%;
}

.mainrow{
  height: 500px;
  background-color: #FFF2EF;
}

.title, .subtitle{
  width: 100%;
  margin-bottom: 20px;
  color: #33475B;
}

.title{
  font-size: 50px;
  font-weight: 900;
  margin-top: 50px;
}

.subtitle{
  margin-top: 30px;
}

.getforfree-2{
  padding: 20px 50px;
  text-align: center;
  font-size: 13px;
  margin: 20px 0;
  cursor: pointer;
  border-radius: 5px;
  background-color: coral;
  border: 1px solid coral;
  color: white;
}

.subscript{
  font-size: 10px;
  margin-top: 10px;
  color: #33475B;
}

.mainrow .col2{
  background-image: url('../img/main.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right bottom;

}

.separtion-row{
 height: 80px;
 background-color: #AFEBE4;
 border-top: 2px solid black;
 border-bottom: 2px solid
 black;
}

.content-container{
  background-color: #F4F9FD;
  height: 1300px;
  width: 100%;
  position: relative;
}

.head-img {
  text-align: center;
}

.description-text{
  width: 720px;
  text-align: center;
  margin: 0 auto;
  color: #33475B;
}

.description-text p{
 margin-top: 15px;
 color: #33475B;
}

.widget{
  width: 1200px;
  height: 300px;
  background-color: #FFFF;
  margin: 30px auto;
}

.widget:after{
  content: '';
  display: table;
  clear: both;
}

.widget-col1{
  width: 35%;
  height: 300px;
  float: left;
  position: relative;
}

.imgwid-row{
  margin-top: 40px;
  text-align: center;
}

.learnmore{
  padding: 15px 25px;
  text-align: center;
  font-size: 13px;
  cursor: pointer;
  border-radius: 5px;
  background-color: coral;
  border: 1px solid coral;
  color: white;
}

.horziontal-wid{
  text-align: center;
}

.widget-col2{
  width: 65%;
  height: 100%;
  float: left
}

.widget-col2 h3{
  padding-top: 65px;
}

.widget-col2 p{
  padding-top: 25px;
  padding-bottom: 20px;
}

.widget-col2 h4{
  padding-bottom: 20px;
  display: inline-block;
}

.fa-check-circle {
  color: coral;
  padding-left: 20px;
  padding-right: 10px;
}

.vertical-row{
  width: 1200px;
  margin: 0 auto;
}

.vertical-row:after{
  content: '';
  display: table;
  clear: both;
}

.vertical-wid{
  width: 350px;
  height: 600px;
  float: left;
  background-color: #ffff;
  position: relative;
}

.wid-row{
 height: 500px;
 width: 100%;
}

.img-marketing img{
  padding: 20px;
  width: 100px;
  height: 100px;
  box-sizing: content-box;
}

.img-marketing{
 text-align: center;
}

.wid-row h4{
 padding-bottom: 20px;
 text-align: center;
}

.mark-hub{
  padding: 0 20px;
  text-align: center;
  font-size: 16px;
  margin: 0 40px;
}

.rule{
  margin: 40px 30px;
  border: 1px solid black;
}


.wid-row h5{
 padding: 20px 0;
 text-align: center;
}

.list{
  font-size: 13px;
}

.button-vertical{
  margin: 50px auto;
}

.vertical-row .central{
  margin-left: 75px;
  margin-right: 75px;
}

.refernce-row{
  height: 550px;
  background-color:#00b3af;
}

.description-reference{
  width: 1200px;
  height: 150px;
  margin: 0 auto;
  color: #ffff;
}

.description-reference > h2{
  text-align: center;
  padding: 30px 0 20px;
  font-weight: bolder;
  font-size: 26px;
}

.description-reference > span{
  text-align: center;
  padding: 30px 0 20px;
  font-size: 15px;
}

.reference{
  width: 1200px;
  height: 300px;
  margin: 30px auto;
}

.clients{
  width: 25%;
  height: 50%;
  text-align: center;
  padding: 10px;
  float: left;
}

.bott-wh{
  border-bottom: 1px solid #fff;
}

.rh-wh{
  border-right: 1px solid #fff;
}

.numbers{
  color: white;
  padding: 20px;
}

.numbers span{
  font-size: 10px;
  padding: 20px;
}

.sponsor-container{
  width: 1200px;
  height: 500px;
  padding: 50px 0;
  margin: 0 auto;
  box-sizing: content-box;
}

.sponsor-container::after{
  content: '';
  display: table;
  clear: both;
}

.counter{
  width: 400px;
  height: 200px;
  float: left;
}

.counter h1{
  text-align: center;
  padding: 30px 0 20px;
}

.counter > div{
  margin: 0 100px;
  font-size: 12px;
  line-height: 20px;
}

.sponsor{
  width: 700px;
  height: 200px;
  float: left;
}

.start{
  width: 400px;
  height: 300px;
  float: left;
  position: relative;
}

.counter > h1{
  text-align: left;
  margin: 0 100px;
}

.start > div{
  margin: 30px 0;
  font-size: 12px;
  line-height: 20px;
}

.start > span {
  font-size: 9px;
  display: block;
  position: absolute;
  bottom: 0;
}

.girl-pic{
  width: 700px;
  height: 300px;
  float: left;
  position: relative;
}

.girl-img img{
  width: 280px;
  position: absolute;
  right: 0;
}

.footer-container{
  width: 100%;
  height: 550px;
  background-color: #32495c;
  position: relative;
}

.footer-container::after{
  content: '';
  display: table;
  clear: both;
}

.main-footer {
  width: 1200px;
  height: 300px;
  margin: 0 auto;
}

.menu-footer{
  width: 300px;
  height: 350px;
  float: left;
  color: #ffff;
}

.menu-footer h5{
  padding: 20px 0;
}

.menu-footer ul{
  list-style: none;
}

.menu-footer li a {
  color: #CBD6E2;
  text-decoration: none;
  cursor: pointer;
  line-height: 30px;
}

.button-footer{
  color: #32495c;
  padding: 7px 2px;
  border: 0;
  border-radius: 5px;
  font-size: 12px;
  margin: 8px 0;
}

.menu-footer i{
  padding: 10px;
  cursor: pointer;
  color: #CBD6E2;
}


.credits-copy{
  height: 250px;
  width: 1200px;
  margin: auto;
}

.lang-footer ul{
  text-align: center;
}

.lang-footer li{
  line-height: 50px;
  padding: 0 10px;
}

.lang-footer ul li{
  list-style: none;
  color: #CBD6E2;
  display: inline-block;
}

.inherit{
  background-color: inherit;
  border: 0;
}

.nomargin{
  margin: 0;
  width: 50%
}

.legal {
  float: right;
  color: #CBD6E2;
  font-size: 10px;
  padding: 0 15px;
}

.nav-left img{
   padding-top: 15px;
 }

.nav-left span{
  color: white;
  font-size: 10px;
  position: absolute;
  top: 25px;
  left: 0;
}
