*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

.row{
  width: 100%;

}

.rowhead-1{
    background-color: #F4F9FD;
    border-bottom: 1px solid black;
    height: 80px;
}

.rowhead1::after{
  content: '';
  clear: both;
  display: table;
}

.rowhead-2{
  background-color: #FFFF;
  height: 80px;
}

.mainrow:after{
  content: '';
  display: table;
  clear: both;
}

.col1{
  height: 100%;
  width: 40%;
  margin-left: 10%;
  float: left;
  position: relative;
}

.col2 {
  height: 100%;
  width: 40%;
  margin-right: 10%;
  float: left;
  position: relative;
}

.nav-left{
  float: left;
  line-height: 80px;
}
 select{
  border: 0;
  background-color: inherit;
}

/* .left{
  padding-right: 30px;
} */

.text-header{
  font-size: 13px;
  margin: 0 10px;
}
/* .right {
  position:absolute;
  top: 20px;
  right: 0;
} */

.nav-right{
  float: right;
  line-height: 80px;
}

.fa {
  margin-left: 15px;
}

.login, .getforfree{
  padding: 5px 5px;
  text-align: center;
  font-size: 13px;
  margin: 3px 3px;
  cursor: pointer;
  border-radius: 5px;
}

.login{
  background-color: inherit;
  color: coral;
  border-color: 1px solid coral;
}

.getforfree{
  background-color: coral;
  color: white;
}
.logo{
  height: 80px;
  width: 140px;

  /* background-color: pink; */
}

.logo img {
  width: 100%;
  height: 100%;
}
.menu{
  /* height: 40px;
  width: 350px;
  background-color: black; */
}

.mainrow{
  height: 500px;
  background-color: #FFF2EF;
}

.title, .subtitle{
  width: 100%;
  margin-bottom: 20px;
  color: navy;
}

.title{
  font-size: 50px;
  font-weight: 900;
  margin-top: 50px;
}

.subtitle{
  margin-top: 30px;
}

.getforfree-2{
  padding: 20px 50px;
  text-align: center;
  font-size: 13px;
  margin: 20px 0;
  cursor: pointer;
  border-radius: 5px;
  background-color: coral;
  border: 1px solid coral;
  color: white;
}

.subscript{
  font-size: 10px;
  margin-top: 10px;
  color: navy;
}

.separtion-row{
   height: 80px;
   background-color: #AFEBE4;
   border-top: 2px solid black;
   border-bottom: 2px solid
   black;
}

.content-container{
  background-color: #F4F9FD;
  height: 1200px;
  width: 100%;
  position: relative;
}

.head-img {
  text-align: center;
}

.description-text{
  width: 60%;
  text-align: center;
  margin: 0 auto;
}

.description-text p{
  margin-top: 15px;
}

.widget{
  width: 80%;
  height: 300px;
  background-color: #FFFF;
  margin: 30px auto;
}

.widget:after{
  content: '';
  display: table;
  clear: both;
}

.widget-col1{
  width: 30%;
  height: 300px;
  /* border-right: 1px solid black; */
  float: left;
  position: relative;
}

.wid-row{
  margin-top: 40px;
  text-align: center;
}

.learnmore{
  padding: 15px 25px;
  text-align: center;
  font-size: 13px;
  margin-left: 70px;
  cursor: pointer;
  border-radius: 5px;
  background-color: coral;
  border: 1px solid coral;
  color: white;
}


.widget-col2{
  width: 70%;
  height: 100%;
  float: left
}

.vertical-row:after{
  content: '';
  display: table;
  clear: both;
}

.vertical-wid{
  width: 20%;
  height: 500px;
  float: left;
  background-color: blue;
}

.vertical-row .lf{
  margin-left: 10%;
  margin-right: 5%;
}

.vertical-row .central{
  margin-left: 5%;
  margin-right: 5%;
}

.vertical-row .rt{
  margin-left: 5%;
  margin-right: 10%;
}

.refernce-row{
  height: 500px;
  background-color:#00b3af;
}

.description-reference{
  width: 80%;
  height: 150px;
  margin: 0 auto;
  background-color: white;

}

.reference{
  width: 80%;
  height: 200px;
  margin: 30px auto;
  background-color: white;
}

.sponsor-container{
  width: 80%;
  height: 500px;
  background-color: white;
  padding: 80px;
  box-sizing: content-box;
}

.sponsor-container::after{
  content: '';
  display: table;
  clear: both;

}

.counter{
  width: 40%;
  height: 40%;
  border: 2px solid black;
  float: left;
}

.sponsor{
  width: 60%;
  height: 40%;
  border: 2px solid black;
  float: left;
}

.start{
  width: 40%;
  height: 60%;
  border: 2px solid black;
  float: left;
}

.girl-pic{
  width: 60%;
  height: 60%;
  border: 2px solid black;
  float: left;
}

.footer-container{
  width: 100%;
  height: 700px;
  background-color: #32495c;
  position: relative;
}

.footer-container::after{
  content: '';
  display: table;
  clear: both;
}

.menu-footer{
  width: 20%;
  height: 350px;
  background-color: navy;
  border: 2px solid white;
  float: left;
}

.mfl{
  margin-left: 10%
}

.mfr{
  margin-right: 10%;
}

.credits-copy{
  height: 200px;
  width: 80%;
  padding-top: 50px;
  padding-left: 10%;
  padding-right: 10%;
  background-color: yellow;
  position: absolute;
  bottom: 0;

}
